.contain {
    width: 600px;
    height: 600px;
    background-color: rgb(252, 252, 252);
}

.row {
    margin-right: -15px;
    margin-left: -16px;
}

.row1 {
    height: 39%;
}

.rowmid {
    height: 20%;
}

.player {
    height: 237px;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}

.player3 {
    background-color: green;
}

.player4 {
    background-color: yellow;
}

.inbox {
    background-color: white;
    height: 180px;
    margin: 25px 23px 25px 25px;
}

.danabox {
    border: 1px solid black;
    margin: 20px;
    height: 45px;
    width: 45px;
}

.danar {
    background-color: red;
}

.danab {
    background-color: blue;
}

.danag {
    background-color: green;
}

.danay {
    background-color: yellow;
}

.danarun {
    border: 1px solid black;
    height: 39.5px;
}

.danarun2 {
    border: 1px solid black;
    height: 40px;
}

.danarun2.med {
    padding: 0px 31.3px 0px 0px;
}

.img {
    /* vertical-align: middle; */
    height: 38px;
    width: 40px;
    margin: 0px 0px 0px -15px;
    /* background-color: red; */
}

.starb {
    height: 38px;
    width: 34px;
    margin: 0px 0px 0px -15px;
}

.stary {
    /* vertical-align: middle; */
    height: 49px;
    width: 36px;
    margin: 0px 0px -7px -16px;
    /* background-color: red; */
}

.arrowr {
    vertical-align: middle;
    width: 40px;
    /* height: 21px; */
    margin: 12px 0px 10px -15px;
}

.arrowd {
    vertical-align: middle;
    width: 30px;
    margin: 0px 0px -20px -15px;
    height: 38px;
}

.arrowl {
    vertical-align: middle;
    width: 33px;
    /* height: 21px; */
    margin: 12px 0px 10px -15px;
}

.arrowu {
    vertical-align: middle;
    width: 30px;
    margin: 0px 0px -20px -15px;
    height: 32px;
}